.calculator {
  background: var(--color-black);
  height: 50rem;
  width: 30rem;
  padding: 1.8rem;
  border-radius: 0.5rem;
  box-shadow: var(--shadow);

  display: flex;
  flex-direction: column;
  gap: 1rem;

  .display {
    height: 32%;
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    padding-right: 0.5rem;
    overflow: hidden;
    font-size: 7rem;
  }

  .buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    gap: 1rem;
  }
}
